<%= form_with(model: profile, local: true, url: url) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :firstname, class: "form-control", placeholder: "Input Firstname" %>
  </div>

   <div class="field">
    <%= form.text_field :lastname, class: "form-control", placeholder: "Input Lastname" %>
  </div>

  <div class="field">
    <%= form.text_field :country, class: "form-control", placeholder: "Input Country" %>
  </div>
  
  <div class="field">
     <%= form.file_field :avatar %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>