<div class="container-fluid">

<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @lesson.desc %>
</p>

<% @lesson.attachment.each do |att| %>
  <%= link_to att.url.split('/').last, att.url %> <br>
<% end %>



<%= render 'questions/question', {lesson: @lesson} %>
<%= render 'questions/question_list', {lesson: @lesson} %>

<%= link_to 'Edit', edit_lesson_path(@lesson) %>
<div class="about" id="about"></div>
</div>
