<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @lesson.course_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @lesson.desc %>
</p>



<%= render 'questions/question', {lesson: @lesson} %>
<%= render 'questions/question_list', {lesson: @lesson} %>

<%= render partial: "questions/question_list", locals: { lesson: @lesson } %>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
