<div class="container-fluid">
	<div class="lesson">

		<p> <%= image_tag(@lesson.avatar_url, size:"200x200") %> </p>

		<p>
		  <strong>Title:</strong>
		  <%= @lesson.title %>

			<% if user_signed_in? %>
				<% if current_user.admin == true %>
					<%= link_to 'Edit', edit_lesson_path(@lesson, @course), class: "btn btn-primary" %>
				<% end %>
			<% end %>
		</p>

		<div class="std">
		  <%= raw @lesson.desc %>
		</div>

		<div class="std">
			<h5>Attachments</h5>
			<% @lesson.attachment.each do |att| %>
			  <%= link_to att.url.split('/').last, att.url %> <br>
			<% end %>
		</div>

		<div class="std">
			<% if user_signed_in? %>
				<%= render 'questions/question', {lesson: @lesson} %>
				<%= render 'questions/question_list', {lesson: @lesson} %> <br>
			<% end %>
		</div>

		<div class="text-center">
			<div class="btn-group">
				<%= link_to("Previous Lesson", @lesson.previous, class: "btn btn-primary") if @lesson.previous %>
				<%= link_to("Next Lesson", @lesson.next, class: "btn btn-primary") if @lesson.next %>
			</div>
		</div>



		<div class="about" id="about"></div>
	</div>
</div>
