<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @lesson.course_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @lesson.desc %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
