<p id="notice"><%= notice %></p>

<h1>Courses</h1>
<%= link_to 'New Course', new_course_path %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>
        <td><%= course.description %></td>
        <td> <%= image_tag(course.avatar.url,size:"200x200")  %> </td>

    
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
