<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>


<p>
   <%= image_tag(@course.avatar.url,size:"200x200")  %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <% if @is_bookmarked.present? %>
    <%= link_to "Bookmarked", bookmark_path(@is_bookmarked), method: :delete %>
  <% else %>
    <%= link_to "Bookmark", course_bookmarks_path(@course), method: :post %>
  <% end %>
</p>

<% if current_user.admin == true %>
  <%= link_to "new_lesson_path", new_course_lesson_path(@course) %>
<% end %>

<% @course.lessons.each do |les| %>
  <%= link_to  les.title, lesson_path(les) %> <br>
<% end %>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
