<div class="container-fluid">
  <div class="index_course">
  <div class="image">
<p>
   <%= image_tag(@course.avatar.url,size:"100x100")  %>
</p>

  </div>
  <div class="title">
  <strong>Title:</strong><br />
  <%= @course.title %>
<p>
  <% if @is_bookmarked.present? %>
    <%= link_to "Bookmarked", bookmark_path(@is_bookmarked), method: :delete, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Bookmark", course_bookmarks_path(@course), method: :post, class: "btn btn-primary"%>
  <% end %>
</p>
<% if current_user.admin == true %>
  <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-primary" %>
  <%= link_to "new_lesson_path", new_course_lesson_path(@course), class: "btn btn-primary" %>
  <%= link_to "ADD TESTS", new_course_test_question_path(@course), class: "btn btn-primary", remote: true, data: { toggle: 'modal', 'target': '#new-test'} %>
<% end %>

<% @course.lessons.each do |les| %>
  <%= link_to  les.title, lesson_path(les), class: "btn btn-primary" %> <br>
<% end %>

<div id="new-test"></div>

<div class="description">
 <strong>Description:</strong><br />
 <center>
 <%= @course.description %>
 </center>
 </div>
<%= link_to 'Back', courses_path %>

</div>
