<!--
# ITESM CEM, May 11, 2011.
# Ruby Source File
# Activity::  Final Project: Design Patterns tests App
# Author::    1165536 Juliana Pena
-->

<h1>tests Results</h1>
<p id="question">You answered correctly <%= @correct %> out of <%= @total %> questions.</p>

<p id="score"><%= @score %>%</p>

<%= form_tag({:controller => "tests", :action => "index"}, :method => "get") do %>
  <div class="center">
	 <%= submit_tag("Take another tests", :class => "submit") %>
  </div>
<% end %>

<% content_for(:title) do %>
  tests Results
<% end %>
