<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <%= link_to "Quintessence", root_path, class: "navbar-brand" %>
   
    <ul class="navbar-nav ml-auto">
      <%= link_to courses_path, class: "nav-link" do %>
        <i class="far fa-images"></i> Show courses
      <% end %>
<% if !user_signed_in? %>
      <%= link_to user_session_path, class: "nav-link" do %>
        <i class="fas fa-sign-in-alt"></i> Login
      <% end %>
<% else %>
      <% if current_user.profile.nil? %>
        <%= link_to new_profile_path, class: "nav-link" do %>
          <i class="fas fa-user"></i> Profile
        <% end %>
      <% else %>
          <%= link_to profiles_path, class: "nav-link" do %>
          <i class="fas fa-user"></i> Profile
        <% end %>
      <% end %>
      <%= link_to destroy_user_session_path, class: "nav-link", method: :delete do %>
        <i class="fas fa-sign-out-alt"></i> Logout
      <% end %>
<% end %>
    </ul>
</nav>