<!DOCTYPE html>
<html>
  <head>
    <title>Quintessence</title>
    <%= csrf_meta_tags %>
    <% begin %>
  <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => 'reload', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
<% rescue %>
  <script>
    window.location.replace "#{user_session_url()}"
  </script>
<% end %>
  </head>

  <body>
  	<%= render "layouts/header"%>
    <div id="new-course">

    </div>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
